<footer class="footer-page">
    <div class="group-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="assets/images/perfil.jpg " alt="Logo de BINROCK">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ullam temporibus.</p>
      </div>
      <div class="box">
        <h2 id="contactos">SIGUENOS</h2>
        <div class="red-social">
          <a href="https://www.facebook.com/profile.php?id=100064030392519" class="fa-brands fa-facebook"></a>
          <a href="https://www.instagram.com/_binrock_/" class="fa-brands fa-instagram"></a>

        </div>
      </div>
    </div>
    <div class="group-2">
      <small>&copy;2021 <b>Binrock</b> - Todos los derechos reservados.</small>
    </div>
       
      </footer>