<div class="form-p">
    <div class="form">
      <h1 class="logo">Contactanos</h1>
      <div class="contact-wrapper">
        <div class="formu">
        <h3>Registro</h3>
        <form action="">
            <p>
              <label>Nombre</label>
              <input type="text" name="Nombre">
            </p>
            <p>
              <label>Correo</label>
              <input type="email" name="correo">
            </p>
            <p>
              <label> Telefono</label>
              <input type="tel" name="Telefono">
            </p>
            <p>
              <label for="">Contraseña</label>
              <input type="password" name="password">
            </p>
          <p class="block">
            <button type="submit">
              Enviar
            </button>  
          </p>  
        </form> 
        <div class="junto-mapa">
          <img src="assets/images/JuntoMapa.jpg " alt="" width="500px">
        </div>
      </div>
      <div class="contact-info">
        <ul>
          <li><i class="fa-sharp fa-solid fa-map-location-dot"> Casa KIKI</i></li> 
          <li><i class="fa-solid fa-phone"> Contacto:</i> 111 111 111</li>    
          <li><i class="fa-solid fa-envelope"> Correo:</i> binrock906@gmail.com</li> 
          <div class="iconos">
          <li><i><a href="https://www.facebook.com/profile.php?id=100064030392519" class="fa-brands fa-facebook"></a>-FACEBOOK</i></li>
          <li><i><a href="https://www.instagram.com/_binrock_/" class="fa-brands fa-instagram"></a>INSTAGRAM</i></li>
          </div>
           <li>
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63836.52033687169!2d-78.51839241174892!3d-0.24271610466424084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b6c82edbb87%3A0xdac813f7b35ec40!2sCASA%20KIKI!5e0!3m2!1ses-419!2sec!4v1682793669809!5m2!1ses-419!2sec"
             width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" ></iframe></li>
        </ul>
      </div>
      </div>
    </div>
  </div>