<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>NavBar</title>
</head>
<body>
  <header>
    <div class="navbar">
      <ul class="rutas">
        <li class="logo"><a href="home"><img src="assets/images/perfil.jpg"></a></li>
       
      </ul>
      <a href="productos" class="action_btn">Productos</a>
      <a class="action_btn" href="contactos">Contactos</a> 
      <a href="clientes" class="action_btn">Clientes</a>
      <a class="action_btn" href="#"><i class="fa-solid fa-user"> </i> Iniciar Sesión</a>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </header>
</body>
</html>
