
body{
    background-color: black;
    background-size: cover;
    background-position: center;
}
 li{
    list-style: none;
 }

 a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
 }
 a:hover{
    color: darkslateblue;
 }
 header{
    position: relative;
    padding: 0 2rem;

 }

 .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .navbar .logo img{
    width: 45px ;
    height: 45px;
    gap: 10rem;
 }

 .navbar .rutas{
    display: flex;
    gap: 2rem;
    text-align: center;
 }

 .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
 }

 .action_btn{
    background-color: rgb(44, 43, 40);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
 }

 .action_btn:hover{
    scale: 1.05;
    color: white;
 }

 .action_btn:active{
    scale: 0.95;
 }

 